table,
tr,
th,
td {
  top: 50px;
  border: solid;
  border-color: beige;
  border-width: 5px;
  border-style: outset;
}
table {
  width: 80%;
  color: white;
  margin: auto;
  font-family: 'Lato', sans-serif;
  backdrop-filter:blur(50px);
}
td {
  color: black;
}
ol {
  float: right;
  flex: inline;
  display: relative;
  color: beige;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol :hover{
  color: blue !important;
  background-color: white !important;
  padding:5px !important;
}

a {
  color: black;
  text-decoration: none;
}
#p {
  font-size: large;
  color: yellow;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: black;
  color: white;
 
}

button:hover {
  color: white;
  background-color: black;
}
.container {
  width: 100%;
  height: 30vh;
 
  text-align: center;
}
form {
  width: 40vw;
  text-align: center;
  position: absolute;
  left: 30%;

  border: 10px;
  border-style: solid;
  border-width: 3px;
  padding: 30px;
  border-color: beige;
  background-color: darkcyan;
}
.label {
  text-transform: uppercase;
  font-size: medium;
}

body {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(./images/images.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  
